<% if logged_in?%>
  <% if @phone.user_id == current_user.id %>
    
  
<h1>Edit <%= @phone.name %></h1>
<form method="POST" action="/phones/<%=@phone.id %>/edit"> <%# action tells it the route, method tells it the http verb %>
  <input type="hidden" value="PATCH" name="_method">
  Name: <input type="text" name="phone[name]" value="<%= @phone.name %>"><br>
  Model: <input type="text" name="phone[model]" value="<%= @phone.model %>"><br>
  Color: <input type="text" name="phone[color]" value="<%= @phone.color %>"><br>
  Age: <input type="text" name="phone[age]" value="<%= @phone.age %>"><br>
  <input type="submit" value="Update">
</form> 
  <% else %>
    <%redirect to "/phones" %>
  <% end %>
<%# submitting this form will create a params hash, which is only accessible in the create action %>
<% else %>
  <%redirect to "/login" %>
<% end %>